#from urllib import quote
#from gratia.database.query_handler import displayName

<!-- Image maps -->
#include $image_maps


    <h1>OSG Job Accounting Information By Site</h1>

<!-- Unauthenticated user view -->
#if not $is_authenticated
    <p>You are not authenticated!  In order to be able to access a broader set
       of information, <a href="$base_server$base_url">click here</a>.
    </p>
#end if

#if $is_authenticated
    <p>Welcome, $name, to the OSG metrics page</p>
    <p>For more options, refer to the menus on the right.</p>
#end if

<!-- Common, grid-wide view. -->

<h2>Computation Hours</h2>
<p><img usemap="#facility_hours_bar_smry" src="$base_url/bar_graphs/facility_hours_bar_smry$filter_url"/></p>
<p><img usemap="#osg_facility_hours" src="$base_url/pie_graphs/osg_facility_hours$filter_url"/></p>

<h2>Job Count</h2>
<p><img usemap="#osg_facility_count" src="$base_url/pie_graphs/osg_facility_count$filter_url"/></p>

<h2>Transfer Volumes</h2>
<p><img usemap="#facility_transfer_volume" src="$base_url/transfer_graphs/facility_transfer_volume$filter_url"/></p>

<h2>Site Availability</h2>
<p><img usemap="#reli_summary_daily" src="$base_url/rsv_summary_graphs/reli_summary_daily$filter_url2"/></p>

<!-- Controls for filtering sites / VOs / dates / etc -->
#include $refine

