#from urllib import quote
#from gratia.database.query_handler import displayName

<!-- Image maps -->
#include $image_maps


    <h1>OSG Job Accounting Information By VO</h1>

<!-- Unauthenticated user view -->
#if not $is_authenticated
    <p>You are not authenticated!  In order to be able to access a broader set
       of information, <a href="$base_server$base_url">click here</a>.
    </p>
#end if

#if $is_authenticated
    <p>Welcome, $name, to the OSG metrics page</p>
    <p>For more options, refer to the menus on the right.</p>
#end if

<!-- Common, grid-wide view. -->

<h2>Computation Hours</h2>
<p><img usemap="#vo_hours_bar_smry" src="$base_url/bar_graphs/vo_hours_bar_smry$filter_url"/></p>
<p><img usemap="#osg_vo_hours" src="$base_url/pie_graphs/osg_vo_hours$filter_url"/></p>

<h2>Job Count</h2>
<p><img usemap="#osg_vo_count" src="$base_url/pie_graphs/osg_vo_count$filter_url"/></p>

<!-- Controls for filtering sites / VOs / dates / etc -->
#include $refine

