#from urllib import quote
#from gratia.database.query_handler import displayName

<h2>Gratia Frontend and Factory Probe Reports</h2>
#include $image_maps

<h5>Count of running Glideins by VO Frontend (<a href="$base_url/xml/status_vo?excludefacility=None&span=3600&title=Count%20of%20running%20Glideins%20by%20VO%20Frontend&facility=FactoryReports">Analyze</a>)</h5>
<img src="$base_url/status_graphs/status_vo?excludefacility=None&span=3600&title=Count%20of%20running%20Glideins%20by%20VO%20Frontend&facility=FactoryReports" usemap="#map"></p>

<h5>Count of requested idle by VO Frontend (<a href="$base_url/xml/status_voidle?facility=FactoryReports">Analyze</a>)</h5>
<img src="$base_url/status_graphs/status_voidle?facility=FactoryReports" usemap="#map"></p>

<h5>Count of waiting jobs by VO Frontend (<a href="$base_url/xml/status_vowaiting?facility=FactoryReports">Analyze</a>)</h5>
<img src="$base_url/status_graphs/status_vowaiting?facility=FactoryReports" usemap="#map"></p>

<h5>Count of sites used by VO Frontend (<a href="$base_url/xml/status_sitesused?facility=FactoryReports">Analyze</a>)</h5>
<p><img src="$base_url/status_graphs/status_sitesused?facility=FactoryReports" usemap="#map"></p>



