#from urllib import quote
#from gratia.database.query_handler import displayName

<!-- Image maps -->
#include $image_maps


    <h1>OSG Storage</h1>

<!-- Unauthenticated user view -->
#if not $is_authenticated
    <p> This is the central page for viewing storage activity on the OSG. </p>
    <p> This page is designed for active users, managers, and site admins
        on the OSG.  To get a broader overview, <a href="$base_url/overview">click here</a>
    </p>
#end if

<!-- Common, grid-wide view. -->

#include $focus.tmpl

#if $focus.value == 'facility' or $focus.value == 'both'
    <h2>Today's Grid-Wide Activity by Facility<h2>
<!--
    <h3> Transfer Rates </h3>
    <p><img usemap="#facility_transfer_rate" src="$base_url/bar_graphs/facility_transfer_rate$filter_url"/></p>
    <h3> Transfer Quality </h3>
    <p> <img usemap="#facility_quality" src="$base_url/bar_graphs/facility_quality$filter_url"/></p>

    <h3> Space Available </h3>
    <p> We're sorry, but this graph is not available. </p>

    <h3> Transfer Volume </h3>
    <p> <img usemap="#facility_transfer_volume" src="$base_url/bar_graphs/facility_transfer_volume$filter_url"/> </p>
-->
    <h3> Wall Hours </h3>
    <p> <img usemap="#facility_hours_bar_smry" src="$base_url/bar_graphs/facility_hours_bar_smry$filter_url"/></p>
#else
    <h2>Today's Grid-Wide Activity by VO<h2>
<!--
    <h3> Transfer Rates </h3>
    <p><img usemap="#vo_transfer_rate" src="$base_url/bar_graphs/vo_transfer_rate$filter_url"/></p>
    <h3> Transfer Quality </h3>
    <p> <img usemap="#vo_quality" src="$base_url/bar_graphs/vo_quality$filter_url"/></p>

    <h3> Space Available </h3>
    <p> We're sorry, but this graph is not available. </p>

    <h3> Transfer Volume </h3>
    <p> <img usemap="#vo_transfer_volume" src="$base_url/bar_graphs/vo_transfer_volume$filter_url"/> </p>
-->
    <h3> Wall Hours </h3>
    <p> <img usemap="#vo_hours_bar_smry" src="$base_url/bar_graphs/vo_hours_bar_smry$filter_url"/></p>
#end if

<!-- Controls for filtering sites / VOs / dates / etc -->
#include $refine

<!-- Note for unauthenticated users -->
#if not $is_authenticated
  <p> If you were authenticated, you would have additional options, including:
  </p>
  <ul>
    <li>Individual transfer results</li>
    <li>Activity from users in your VO (for VO owners)</li>
    <li>Activity from users at your site (for site admins)</li>
  </ul>
#end if

<!-- Authenticated user actions -->
#if $is_authenticated
    <h1>Further Information</h1>
    <p>Welcome, $name, to the OSG storage accounting and monitoring page</p>
    <p>If you would like a yearly overview, <a href="$base_url/">click here</a></p>
#end if
#if $auth_count > 1
    <p>From here, you may take the following actions:
    <ul>
        #if $is_vo_owner
            #for $vo in set($vo_ownership)
                <li><a href="$base_url/vo_owner?vo=$vo">View VO <b>$vo</b></a></li>
            #end for
        #end if
        #if $is_site_owner
            #for $site in set($site_ownership)
                <li><a href="$base_url/site_owner?facility=$site">View Site <b>$site</b></a></li>
            #end for
        #end if
        #if $is_view_other_users
            #for $user in set($user_ownership)
                <li><a href="$base_url/user?dn=$quote(user, safe='')">View User <b>$displayName(user)</b></a></li>
            #end for
        #end if
        #if $is_super_user
            <li></li>
        #end if
    </ul>
#end if

