#from urllib import quote
#from gratia.database.query_handler import displayName
<html>
<body>
<!-- Image maps -->
#include $image_maps
<p><img usemap="#status_vo" src="$base_url/status_graphs/status_vo$filter_url"/></p>
</body>
</html>
