<html>

<head>
    <title>$title</title>
</head>

<body>
    
<!-- Unauthenticated user view -->
#if not $is_authenticated
    <p>
        Welcome to the overview of the OSG monitoring and accounting website.
        This page is designed to give outside users a view of what the OSG is
        currently doing.  If you would like to focus on recent activity, <a href="$base_url/main">click here</a>
    </p>
#else 
    <p>
        Welcome, $name, to the overview page of the OSG monitoring and accounting website.
        You have presented authentication credentials.  If you would like to focus
        on recent activity, <a href="$base_url/main">click here</a>
    </p>
#end if

<!-- Common, grid-wide view. -->

    <h2>Job Activity<h2>
    <p><img src="$static_url/today/osg_wall_hours.png"/></p>
    <p><img src="$static_url/today/facility_hours_bar_smry.png"/></p>
    <p><img src="$static_url/today/osg_wall_cumulative.png"/></p>
    <p><img src="$static_url/today/facility_success_cumulative_smry.png"/></p>
<!--
    <h2>Storage Activity</h2>
    <h3> Transfer Rates </h3>
    <p><img src="$static_url/today/facility_transfer_rate.png"/></p>
    <h3> Transfer Quality </h3>
    <p> <img src="$static_url/today/facility_quality.png"/></p>
-->

<h3>The size of the OSG</h3>
<p>
One common question we frequently get is "How large is the OSG?".  Because it
 is a part of a distributed infrastructure, it's actually a difficult question
 to answer.  Therefore, we have come up with three metrics:
</p>
<ol>
<li>The <b>current usage</b> of the OSG.  We can determine the approximate size
    of the OSG by measuring how many compute hours per day are being reported,
    then dividing by 24.  This establishes a good minimum bar for the size of
    the OSG, but is probably a significant under-estimate because not all
    resources are used every day.
</li>
<li>The <b>accessible cores</b> of the OSG.  For each site, we calculate the
    accessible cores by looking at the maximum usage over the past year.  This
    assumes that the site has been utilized at its maximum capacity at some
    point in the last year.  The accessible cores of the OSG is the sum of the
    accessible cores at each site.  This metric is usually the most accurate -
    especially as its based on actual usage, and is not affected by site
    misconfiguration.
</li>
<li>The <b>total cores</b> of the OSG.  This is the number of cores the site
    has in its batch system.  Due to the fact that many sites have a batch
    system configuration which limits the number of grid jobs that can run,
    this metric is usually an over-estimate.
</li>
</ol>
<p> The graph below shows the OSG size using the three described metrics.
</p>
<p><img src="$static_url/today/osg_size.png"/></p>

<h3>Frequently Asked Questions</h3>

<ul>
<li><b>How do I read these legends?</b>
<p>  Because there are sometimes many bars to include (and having too many 
colors can make distinguishing colors difficult), we do allow the graphs to 
repeat colors.  However, the ordering of the stacked bars is from "biggest" 
to "smallest".  The VO or facility with the most usage is at the top of the 
stack; in the legend, they are the entry in the upper left.  The rest of the 
legend follows the bars in the stack from left to right along the row.

So, the VO/facility with the smallest usage, at the very bottom of the stack
in the graph, should be on the lower right.
</p>
</li>

<li><b>Where can I find more information about the VOs?</b>
<p>
The GOC maintains the authoritative registration information for each VO.
Their webpage can be found here: <a href="https://oim.grid.iu.edu/pub/vo/show.php">https://oim.grid.iu.edu/pub/vo/show.php</a>.
</p>
<li><b>Where can I find out more information about each site?</b>
<p>
The GOC also maintains registration information about all the computing 
resources in the OSG, available here: <a href="https://oim.grid.iu.edu/pub/resource/show.php?spec=treelist">https://oim.grid.iu.edu/pub/resource/show.php?spec=treelist</a>.
</p>
</ul>

</body>

</html>
