#from urllib import quote
#from gratia.database.query_handler import displayName


#include $image_maps

<h2>Computation Hours</h2>
<p><img usemap="#glidein_hours_bar_smry" src="$base_url/glidein_bar_graphs/glidein_hours_bar_smry$filter_url"/></p>
<p><a href="$csv/glidein_hours_bar_smry">View raw data.</a></p>
<p><img usemap="#glidein_dn_hours_bar" src="$base_url/glidein_bar_graphs/glidein_dn_hours_bar$filter_url"/></p>
<p><a href="$csv/glidein_dn_hours_bar">View raw data.</a></p>

<!-- Controls for filtering sites / VOs / dates / etc -->
#include $refine

