
<!-- Controls for filtering sites / VOs / dates / etc -->
    <h2> Refine view </h2>
    #if $refine_error != None
        <p>$refine_error</p>
    #end if
    <form>
        <h2> Time span </h2>
        <p> Please specify either an absolute date <b>or</b> time interval </p>
        <div style="border-width: thin;">
        <p> Absolute time interval (format: "YYYY-MM-DD HH:MM:SS")<br/>
        <table>
          <tr>
            <td><label for="starttime">Start time:</label></td>
            <td><input type="text" name="starttime"/> <br/></td>
          </tr>
          <tr>
            <td><label for="endtime">End time:</label></td>
            <td><input type="text" name="endtime"/> <br/></td>
          </tr>
          <tr>
            <td><label for="span"> Bar width </label></td>
            <td><select name="span">
                #if $supports_hours
                    <option value="3600">Hour</option>
                #end if
                <option value="86400">Day</option>
                <option value="604800">7 Days</option>
                <option value="2592000">30 Days</option>
            </select></td>
          </tr>
        </table>
        </p>
        </div>
        <b>OR</b>
        <div style="border-width: thin;">
        <p> Relative to the present <br/>
            <label for="relativetime">Select time interval</label> 
            <select name="relativetime">
                #if $relTime == 'absolute'
                        <option value="absolute" selected="true">Use absolute date range</option>
                #else
                        <option value="absolute">Use absolute date range</option>
                #end if
                #if $supports_hours
                #for $val in (('86400', "24 Hours"), ('172800', "48 Hours"), ("259200", "72 Hours"))
                    #if $relTime == $val[0]
                        <option value="$val[0]" selected="true">$val[1]</option>
                    #else
                        <option value="$val[0]">$val[1]</option>
                    #end if
                #end for
                #end if
                #for $val in (("604800", "7 Days"), ("1209600", "14 Days"), ("2592000", "30 Days"), ("6048000", "10 Weeks"), ("18144000", "30 Weeks"), ("31104000", "12 Months"))
                    #if $relTime == $val[0]
                        <option value="$val[0]" selected="true">$val[1]</option>
                    #else
                        <option value="$val[0]">$val[1]</option>
                    #end if
                #end for
            </select>
        </p>
        </div>
        <h2> Data filter </h2>
        <table>
            #if $refine_facility
              <tr>
                <td><label for="facility">Facility: </label></td>
                <td><input type="text" name="facility" value="$filter_dict.facility"/> <br/></td>
              </tr>
              <tr>
                <td><label for="exclude-facility">Exclude facility: </label></td>
                <td><input type="text" name="exclude-facility" value="$filter_dict['exclude-facility']"/> <br/></td>
              </tr>
            #else
                <input type="hidden" name="facility" value="$filter_dict.facility"/>
                <input type="hidden" name="exclude-facility" value="$filter_dict['exclude-facility']"/> <br/>
            #end if
            #if $refine_vo
              <tr>
                <td><label for="vo">VO: </label>
                <td><input type="text" name="vo" value="$filter_dict.vo"/> <br/>
              </tr>
              <tr>
                <td><label for="exclude-vo">Exclude VO: </label></td>
                <td><input type="text" name="exclude-vo" value="$filter_dict['exclude-vo']"/> <br/></td>
              </tr>
            #else
                <input type="hidden" name="vo" value="$filter_dict.vo"/> <br/>
                <input type="hidden" name="exclude-vo" value="$filter_dict['exclude-vo']"/> <br/>
            #end if
            #if $refine_dn
              <tr>
                <td><label for="user">User: </label></td>
                <td><input type="text" name="user" value="$filter_dict.user"/> <br/></td>
              </tr>
              <tr>
                <td><label for="exclude-dn">Exclude User: </label></td>
                <td><input type="text" name="exclude-dn" value="$filter_dict['exclude-dn']"/><br/></td>
              </tr>
            #else
                <input type="hidden" name="user" value="$filter_dict.user"/> <br/>
                <input type="hidden" name="exclude-dn" value="$filter_dict['exclude-dn']"/> <br/>
            #end if
        </table>
        <input type="submit" value="Refine"> <input type="reset">
    </form>

