
<h1>OSG Usage over the last year</h1>

#if $current_vo != None
    <p><img src="$static_url/today/${current_vo}_opp_usage2.png"/></p>
    <p>The above image shows the opportunistic usage versus the owned usage
       for the $current_vo.
    </p>
#end if

<table>
#for $idx in $range(len($vos))
#if $idx % 8 == 0
    #if $idx != 0
        </tr>
    #end if
    #if $idx+1 != len($vos)
        <tr>
    #end if
#end if
<td> <a href="$base_url/vo_opp2?vo=$vos[$idx]"/>
$vos[$idx] <br/> <img src="$static_url/today/${vos[$idx]}_opp_usage2.png" height="60" width="80"/>
</a></td>
#end for
#if len($vos) % 8 != 0
</tr>
#end if
</table>

<p>Click on any thumbnail in the above table to access more details about the VO's opportunistic versus owned CPU usage</p>

<p>This page shows the VO's OSG opportunistic usage versus owned usage.
   To compare the opportunistic usage by site,
   <a href="$base_url/vo_opp">click here</a>.

</html>

