<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css"> 
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/base/base.css"> 
        <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/treeview/assets/skins/sam/treeview.css">
        <script src = "http://yui.yahooapis.com/2.5.1/build/yahoo/yahoo-min.js" ></script> 
        <script src = "http://yui.yahooapis.com/2.5.1/build/event/event-min.js" ></script>
        <script src = "http://yui.yahooapis.com/2.5.1/build/treeview/treeview-min.js" ></script>
        <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/treeview/assets/treeview-menu.css">
        <style>
            #expandcontractdiv {border:1px dotted #dedede; background-color:#EBE4F2; margin:0 0 .5em 0; padding:0.4em;}
            #treeDiv1 { background: #fff; padding:1em; margin-top:1em; }
        </style>
<script type="text/javascript">
(function() {
	var tree; //will hold our TreeView instance
	
	function treeInit() {

		//instantiate the tree:
		tree = new YAHOO.widget.TreeView("treeDiv1");
                var pageInfo = {label:"Home", href:"$base_url/"};
                var viewNode = new YAHOO.widget.TextNode(pageInfo, tree.getRoot(), true);
		#for viewer, pages in $navigation.items()
                    var viewNode = new YAHOO.widget.TextNode("$viewer View", tree.getRoot(), true);
                    #for $pagename, $url in $pages.items()
                        var pageInfo = {label:"$pagename", href:"$url"}
                        var pageNode = new YAHOO.widget.TextNode(pageInfo, viewNode, false);
                    #end for
                #end for
		tree.draw();		
	}
	
	YAHOO.util.Event.onDOMReady(treeInit);
	
})();

</script>
<title>$title</title>

    </head>
    <body class="yui-skin-sam">
    <div id="doc2" class="yui-t4">
        <div id="hd"><!-- header -->
            <h1 style="text-align:center"><a href="http://www.opensciencegrid.org"><img src="http://www.opensciencegrid.org/tmpl_images/template_02.gif" width="174" height="81" alt="Open Science Grid" border="0" /></a> </h1>
        </div>
        <div id="bd"><!-- body -->
            <div id="yui-main">
                <div class="yui-b">
                    #include $main_tmpl
                </div>
            </div>
            <div class="yui-b">
                <h2>Navigation</h2>
                <div id="treeDiv1"></div>
            </div>
        </div>  
        <div id="ft"><!-- footer -->
            <img src="http://www.opensciencegrid.org/tmpl_images/template_21.gif" style="margin: 0px 10px 0px 0px;" width="84" height="40" alt="" usemap="#template_21167c2a2" align="left" border="0" /><map name="template_21167c2a2" id="template_21167c2a2"><area shape="rect" coords="40,8,76,34" href="http://www.sc.doe.gov/" alt="" target="_blank"></area><area shape="rect" coords="3,5,31,34" href="http://www.nsf.gov/" alt="" target="_blank"></area></map>Supported by the National Science Foundation and the U.S. Department of Energy's Office of Science</td>
        </div>
    </div>
    </body>
</html>

